html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    margin-top: 20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2e3d49;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-width: 380px;
    min-height: 420px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.deck .card {
    min-width: 60px;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 20%;
    margin: 10px 5px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    padding-top: 7.4%;
    padding-bottom: 7.3%;
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    padding-top: 7.4%;
    padding-bottom: 7.3%;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 20px;
    text-align: left;
    min-width: 380px;
    width: 38%;
    margin-bottom: 10px;
    list-style: none;
    display: inline-block;
    margin: auto;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.timerLabel, .movesLabel, .restart {
    margin-left: 8px;
}

.restart {
    position: relative;
    width: 30px;
    bottom: 3px;
    padding: 2px 12px 0 6px;
    color: white;
    background-color: crimson;
    border-radius: 8px;
    float: right;
    cursor: pointer;
}

.fa-star, .fa-star-o, .moves, #minutes, .separator, #seconds {
    font-weight: 900;
    color: #02ccba;
}

.starsLabel, .movesLabel, .timerLabel {
    color: #2e3d49;
}

/*
 *  Specific styles for small screen sizes
 */

@media screen and (max-width: 767px) {
    .score-panel {
        font-size: 18px;
    }

    .deck .card.show, .deck .card.match {
        font-size: 25px;
        padding-top: 6.8%;
        padding-bottom: 6.7%;
    }

    .timerLabel, .movesLabel, .restart {
        margin-left: 5px;
    }

    .deck {
        padding: 10px;
    }
}
